<!DOCTYPE html>

<html>
  <head>
    <title> Test Vocacional </title>
    <link rel='stylesheet' type='text/css' href='/stylesheet.css'/>
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png'>
    <link rel='manifest' href='/site.webmanifest'>
  </head>

  <body>
    <nav class='mainNav'>
      <div height='100px'>
        <a href='/'>
          <img id='logo' src='/Flying_Hellfish_Logo.png'/>
        </a>
        <h1 id='mainTitle'>
          Bienvenido al Test Vocacional de FlyingHellfish!
        </h1>
        <div class='topNav'>
          <a href='/'>Inicio</a>
          <a href='/careers'>Carreras</a>
          <a href='/surveys_info'>Estadisticas</a>
        </div>
      </div>  
    </nav>
    <br>
       <br>
        <form action='/surveys' method='POST'>
            <label class='label' for='username'><b>Ingrese nombre de Usuario</b></label> <br>
            <input type='text' name='username' placeholder='Nombre de Usuario' required>
            <input class='button' type='submit' value='Guardar'>
        </form>
    </body>
</html>
