<!DOCTYPE html>

<html>
  <head>
    <title> Test Vocacional </title>
    <link rel='stylesheet' type='text/css' href='/stylesheet.css'/>
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png'>
    <link rel='manifest' href='/site.webmanifest'>
  </head>

  <body>
    <nav class='mainNav'>
      <div height='100px'>
        <a href='/'>
          <img id='logo' src='/Flying_Hellfish_Logo.png'/>
        </a>
        <h1 id='mainTitle'>
          Estadistica De Carreras Elegidas
        </h1>
        <div class='topNav'>
          <a href='/'>Inicio</a>
          <a href='/careers'>Carreras</a>
          <a href='/surveys_info'>Estadisticas</a>
        </div>
      </div>  
    </nav>
    <br>
    <div class='surveys'>
      <ul>
        <li>
          <a> Total de encuestas terminadas: <%=@survey_count%> </a>
          <br>
          <br>
        </li>
        <% sorted_careers = @careers.sort_by { |career| -career.surveys.count } %>
        <% sorted_careers.map { |career| %> 
          <li class='careers'> 
            <a> <%=career.name %>: <%=career.surveys.count %> - <%='%.2f' % ((career.surveys.count.to_f * 100) / @survey_count) %> % </a>
          </li> <br>
          <% } %>
      </ul>
    </div>
  </body>
</html>
